<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css')}}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Oxygen:300" rel="stylesheet">

    <title>Rate your LinkedIn</title>
  </head>

  <body id="landing">
      <div class="main typewriter d-inline-flex">
        <h1>How bad is your LinkedIn?</h1>
      </div>
      <div class="typewriter">
        <p>
          Hi. I’m an algorithm based robot trained to critique your LinkedIn profile. 
          First, I’ll need to take a look at your LinkedIn profile. 
        </p>
      </div>
      <div class="row">
        <div class="column">

        </div>
      </div>

      <!-- LinkedIn Credentials -->
      <form action="/go" method="POST">
        <input type="text" name="email" id="email" value=''>
        <input type="password" name="password" id="password">
        <input type="submit" value="Let's see how bad this is">
        <input type="text" name="url" id="url" value='https://www.linkedin.com/in/erin-zhong/'>
      </form>

      <form action="/go" method="POST">
        <input type="text" name="url" id="url" value='https://www.linkedin.com/in/erin-zhong/'>
        <input type="submit" value="Go">
      </form>
  </body>


    

